.friend{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
    padding:20px;
}

.friend:hover{
    padding-top: 20px;
    background-color: #ffe1c8;

}

.friend > img{
    border-radius: 100%;
    width: 100px;
}